div {
	border: 1px solid black;
	height: 200px;
	margin: 0 auto 100px;
	width: 200px;
}

#dl1 {
	box-shadow: 20px 30px #959595;
}

#dl2 {
	box-shadow: 20px 30px 10px #959595; 
}

#dl3 {
	box-shadow: 20px 30px 10px #959595, -20px -30px 10px #959595;
}

#dl4 {
	box-shadow: 5px 5px 10px #959595 inset;
}

#dl5 {
	box-shadow: 5px 5px 10px blue inset, -5px -5px 10px red inset;
}