div {
	font-size: 40px;
	margin-bottom: 50px;
}

#d1 {
	color: black;
	text-shadow: 20px 30px #959595;
}

#d2 {
	color: black;
	text-shadow: 20px 30px 5px #959595;
}

#d3 {
	color: black;
	text-shadow: 10px 10px 5px red, -10px -10px 5px blue;
}

#d4 {
	color: #ddcca3;
	text-shadow: -1px -1px #666, 1px 1px #fff;
}

#d5 {
	color: #ddcca3;
	text-shadow: 1px 1px 3px #666, -1px -1px 3px #fff, 1px 1px #666, -1px -1px #666;
}

#d6 {
	color: #ddcca3;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}