div{
	border: 1px solid red;
	margin: 20px 5px;
	padding: 5px;
}

#d_1 {
	letter-spacing: 4px;
	text-align: left;
}

#d_2 {
	letter-spacing: -1px;
	text-align: justify;
}

#d_3 {
	word-spacing: 10px;
}

#d_4 {
	word-spacing: -4px;
	text-align: justify;
}

#d_5 {
	font-variant: small-caps;
	text-align: justify;
}

#d_6 {
	text-align: justify;
	text-transform: uppercase;
}