div {
	margin-bottom: 30px;
	white-space: pre;
	width: 400px;
}

#div1 {
	-moz-tab-size: 8;
	border: 1px solid black;
}

#div2 {
	-moz-tab-size: 0;
	border: 1px solid black;
}

#div3 {
	-moz-tab-size: 16;
	border: 1px solid black;
}